.ai-c { align-items: center; }
.d-f { display: flex; }
.ff-roboto { font-family: 'Roboto', sans-serif; }
.jc-c { justify-content: center; }
.m { margin: 1.5rem }
.m-- { margin: 0.375rem; }
.m-a { margin: auto; }
.mb- { margin-bottom: 0.75rem; }
.mr-- { margin-right: 0.375rem; }
.p- { padding: 0.75rem; }
.fw-w { flex-wrap: wrap; }
.w-4 { width: 4rem; }
.bdc-gray400 { border-color: #BDBDBD; }
.bdw-1 { border-width: 1px; }
.bds-s { border-style: solid; }
.ta-c { text-align: center; }
.bgc-red100 { background-color: #FFCDD2; }
.bgc-brown100 { background-color: #D7CCC8; }
.bgc-purple100 { background-color: #E1BEE7; }
.bgc-indigo100 { background-color: #C5CAE9; }
.bgc-blue100 { background-color: #BBDEFB; }
.bgc-cyan100 { background-color: #B2EBF2; }
.bgc-teal100 { background-color: #B2DFDB; }
.bgc-green100 { background-color: #C8E6C9; }
.bgc-lime100 { background-color: #F0F4C3; }
.bgc-yellow100 { background-color: #FFF9C4; }
.bgc-orange100 { background-color: #FFE0B2; }
.bgc-bluegray100 { background-color: #CFD8DC; }
.bgc-deeporange100 { background-color: #FFCCBC; }
.bgc-amber100 { background-color: #FFECB3; }
.bgc-lightgreen100 { background-color: #DCEDC8; }
